apiVersion: v1
kind: Config
current-context: kubequest
clusters:
- name: kubequest
  cluster:
    certificate-authority-data: {{ admin_conf.clusters[0].cluster['certificate-authority-data'] }}
    server: https://{{ public_ip }}:6443
contexts:
- name: kubequest
  context:
    cluster: kubequest
    user: kubequest-admin
users:
- name: kubequest-admin
  user:
    client-certificate-data: {{ admin_conf.users[0].user['client-certificate-data'] }}
    client-key-data: {{ admin_conf.users[0].user['client-key-data'] }}
