apiVersion: v1
kind: Config
current-context: cluster69
clusters:
- name: cluster69
  cluster:
    certificate-authority-data: {{ admin_conf.clusters[0].cluster['certificate-authority-data'] }}
    server: https://{{ public_ip }}:6443
contexts:
- name: cluster69
  context:
    cluster: cluster69
    user: cluster69-admin
users:
- name: cluster69-admin
  user:
    client-certificate-data: {{ admin_conf.users[0].user['client-certificate-data'] }}
    client-key-data: {{ admin_conf.users[0].user['client-key-data'] }}
