[defaults]
inventory = inventory/hosts.ini
remote_user = ubuntu
private_key_file = ~/.ssh/id_ed25519
host_key_checking = false
retry_files_enabled = false
interpreter_python = /usr/bin/python3

[privilege_escalation]
become = true
become_method = sudo
